                   p {
                            alinhamento de texto : esquerda;
                            tamanho da fonte :  1 cm;
                        }

                        corpo {
                            largura :  940 px ;
                            margem-esquerda : auto;
                            margem direita : auto;
                            font-family :  "Helvetica" ,  "Lucida Grande" , sem serifa;
                            cor :  # 3D3D3D ;
                        }

                        h1 {
                            preenchimento :  10 px ;
                            cor de fundo :  # E1EDF2 ;
                        }

                        h2 {
                            borda inferior :  2 px preto sólido;
                        }

                        figura  img {
                            largura :  100 % ;
                            margem :  30 px ;
                            preenchimento :  15 px ;
                            alinhamento de texto : centro;
                            cor de fundo : fumaça branca;
                            borda :  1 px sólido cinza claro;
                        }

                        figcaption {
                            margem superior :  10 px ;
                        }

                        img {
                            largura : herdar;
                            altura : herdar;
                        }

                        . ambev1 {
                            largura :  550 px ;
                            margem-esquerda : auto;
                            margem direita : auto;
                        }

                        . ambev2 {
                            largura :  275 px ;
                            flutuar : direita;
                        }

                        figura  img {
                            largura :  100 % ;
                        }
